body {
    font-family: 'Press Start 2P', cursive;
}

.button-container,
.text-container {
    display: flex;
}

.button-container {
    justify-content: center;
}

.text-container {
    flex-direction: column;
    align-items: center;
}