body {
    font-family: 'Press Start 2P', cursive;
}

input {
    font-family: inherit;
}

h1 {
    margin: 50px 0 25px;
}

p {
    margin: 0;
    line-height: 1.6;
}

.container {
    margin: 0 500px;
}

.title-container,
.button-container,
.text-container {
    display: flex;
}

.button-container {
    justify-content: center;
    margin: 30px;
    gap: 30px;
}

.title-container,
.text-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-over {
    white-space: pre-line;
    margin: 30px;
}